.donut-form-radios {
    display: flex;
    align-content: center;
}

.donut-form-radios-label {
    margin-right: 10px;
}

.donut-form-radios label {
    display: flex;
    align-items: center;
}

.donut-form-radios label span{
    color: #444;
    margin-bottom: 0;
}

.donut-form-error {
    font-size: 12px;
    color: red;
}

.donut-form-working {
    font-size: 10px;
    font-style: italic;
    margin: 10px 0;
}