<!-- This line registers our form as an angular form, which behind the scenes 
    looks for directives and then starts to build a form model in the background:

    #form="ngForm" 

    It creates an overarching object, so that when we use ngModel within the 
    input, we're binding the content to the ngForm object. The ngModel is
    used within the input tags as shown below:

    <input ngModel />
-->
<form class="donut-form" (ngSubmit)="handleSubmit(form)" #form="ngForm">
    <label>
        <span>Name</span>
        <input 
            type="text"
            name="name"
            class="input"
            required
            [minlength]="3"
            [ngModel]="donut.name"
            [ngModelOptions]="{updateOn: 'blur'}"
            #name="ngModel"
        />
        <ng-container *ngIf="name.invalid && name.touched">
            <div class="donut-form-error" *ngIf="name.errors?.['required']">Name is required</div>
            <div class="donut-form-error" *ngIf="name.errors?.['minlength']">Minimum length of a name is 3 characters</div>
        </ng-container>
    </label>
    <label>
        <span>Icon</span>
        <select
            name="icon"
            class="input input--select"
            required
            [ngModel]="donut.icon"
            #icon="ngModel"
        >
            <option *ngFor="let icon of icons" [ngValue]="icon">{{ icon }}</option>
        </select>
        <ng-container *ngIf="icon.invalid && icon.touched">
            <div class="donut-form-error" *ngIf="icon.errors?.['required']">Icon is required</div>
        </ng-container>
    </label>
    <label>
        <span>Price</span>
        <input 
            type="number"
            name="price"
            class="input"
            required
            [ngModel]="donut.price"
            #price="ngModel"
        />
        <ng-container *ngIf="price.invalid && price.touched">
            <div class="donut-form-error" *ngIf="price.errors?.['required']">Price is required</div>
        </ng-container>
    </label>
    <div class="donut-form-radios">
        <p class="donut-form-radios-label">Special: </p>
        <label>
            <input 
                type="radio" 
                name="released" 
                [value]="undefined" 
                [ngModel]="donut.promo" 
            />
            <span>None</span>
        </label>
        <label>
            <input 
                type="radio" 
                name="released" 
                value="New" 
                [ngModel]="donut.promo" 
            />
            <span>New</span>
        </label>
        <label>
            <input 
                type="radio" 
                name="released" 
                value="Limited Edition"
                [ngModel]="donut.promo" 
            />
            <span>Limited Edition</span>
        </label>
    </div>
    <label>
        <span>Description</span>
        <textarea 
            name="description" 
            class="input input--textarea" 
            required
            [ngModel]="donut.description"
            #description="ngModel"
        >
        </textarea>
        <ng-container *ngIf="description.invalid && description.touched">
            <div class="donut-form-error" *ngIf="description.errors?.['required']">Description is required</div>
        </ng-container>
    </label>
    <button type="submit" class="btn btn--add" [disabled]="form.invalid">Create</button>
    <button type="button" class="btn btn--grey" (click)="form.resetForm()">Reset</button>
    <div class="donut-form-working" *ngIf="form.valid && form.submitted">Working...</div>
    <pre>{{ form.value | json }}</pre>
    <pre>{{ donut | json }}</pre>
</form>